<h2>Edit this post!</h2>

<%= form_for @post do |f|%>
	<%= f.label :title %>
	<%= f.text_field :title, :placeholder => "Title" %>
	<%= f.label :content %>
	<%= f.text_area :content, :placeholder => "Content" %>
	<%= f.label :author %>
	<%= f.text_field :author , :placeholder => "Author"%>
	<%= f.label :category %>
	<%= f.text_field :category, :placeholder => "Category" %>
	<%= f.submit :submit %>
<% end %>

<%= link_to "Cancel", root_path %>