<!DOCTYPE html>
<html>
<head>
  <title>Hackblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h2>Search here:</h2>
<%= form_tag root_path, method: 'GET' do %>
	<input type="search" name="query" placeholder="Search posts here">
	<input type="submit" value="SEARCH NOW">
<% end %>

<%= yield %>

</body>
</html>
